/Users/aaravmaheshwari/Cartelligence/Cartelligence/.env
/Users/aaravmaheshwari/Cartelligence/Cartelligence/info/Cartelligence_Gemini_API.ipynb
/Users/aaravmaheshwari/Cartelligence/Cartelligence/gemini_api.py